<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<head>
    <title>Immich TikTok remover</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png" />
    <meta name="google-site-verification" content="VyPxUNNqCf_ryCL1_jJkwQf7SuNyEcK-VaM4TBWACsI" />
</head>
<br>
<body>
    <div class="container center">
        <h1>Remove TikTok videos from your Immich instance</h1>
        <form method="POST">
            <label for="user_input">Immich URL: </label>
            <input placeholder="https://my.immich.app/" type="text" id="immich_url" name="immich_url" required>
            <br>
            <label for="user_input">Immich API Key: </label>
            <input placeholder="eyJhbGciOiJIUzI1NiIsInR..." type="text" id="immich_api" name="immich_api" required>
            <br>
            <div class="form-row">
                <label for="repeat">Run every 24hrs?</label>
                <input type="checkbox" id="repeat" name="repeat" value="false">
            </div>
            <br>
            <button type="submit">Start</button>
        </form>

        {% if api_response %}
            <hr>
            <h2>Status:</h2>
            <pre class="{% if response_code == 200 %}success-response{% else %}error-response{% endif %}">{{ api_response }} </pre>
            {% if response_code == 200 %}
                <a href="https://api.immich-tiktok-remover.co.uk/logs?pod_id={{container_id}}" method>View pod logs</a>
            {% endif %}
        {% endif %}

        <hr>
        <h2>How to use this tool</h2>
            <ol>
                <li>Go to your Immich instance here: <a href="https://my.immich.app/user-settings?isOpen=api-keys">https://my.immich.app/user-settings?isOpen=api-keys</a></li>
                <li>Generate a new API key</li>
                <li>Name it to something that you can recognise later on (`immich-tiktok-remover` for example)</li>
                <li>You only need the `asset.read` permission for this site to work.</li>
                <li>Click create and copy the api key into the `Immich API Key` box above</li>
                <li>Paste in your immich server url (including http/https)</li>
                <li>Select if you want this took to run every 24hrs</li>
            </ol>

            <p>You should notice the tool running by chcecking your trash folder and seeing TikTok videos in there. Please check the trash folder occasionally to check that there haven't been any legitimate files that have been trashed. 
                I haven't had a single issue with this tool since I started using it a year ago but mistakes happen and it's always worth checking</p>

            <p>If you want to stop this tool from running, simply delete the API key you created in step #1; the pod on the cluster should stop automatically.</p>

            <h4>Please note that this tool has a rate limit of 3hrs.</h4>
        <hr>
        <h2>Self hosting</h2>
            <p>
                This project is really easy to host in a simple docker container, so if you want to ensure full privacy and security it's better to host it yourself!
                <pre><b><p class="docker">docker-compose.yml</p></b><code>services:
  immich-tiktok-remover:
    image: alyssaholland99/immich-tiktok-remover:stable
    environment:
      IMMICH_URL: "https://immich.yourserver.co.uk/"
      IMMICH_API: "your-immich-api-key"
      RESTART_TIMEOUT: 3600 # Time in seconds the script waits to restart (default 1hr)</code></pre>
            </p>

        <hr>
        <h2>Is it safe?</h2>
            <p>
                All the code is available on GitHub here: <a href="https://github.com/mxc2/immich-tiktok-remover">Immich Tiktok Remover</a> which you're free to check.
                <br><br>
                There's always a risk when you send your API key to an external service. Any keys sent are only stored in a kubernetes cluster for the deployments to use. 
                To reduce the chance of a leak causing issues with your immich server I would recommend to only add the needed permissions for this tool to work (`asset.read` only)
                <br><br>
                If you would like to mitigate the risk, you can always delete the API key after running this tool. This is obviously only an option when not running every 24hrs as the key will be useless. 
                <br><br>
                Any security concerns/enquiries can be sent to <a href="mailto:alyssa@alyssaserver.co.uk">alyssa@alyssaserver.co.uk</a>
            </p>
        <hr>
        <h2>How does it work</h2>
            <p>
                I run a personal server 24/7 and it annoyed me that there weren't any easy ways to remove TikTok videos. I found <a href="https://github.com/mxc2/immich-tiktok-remover">Immich Tiktok Remover</a> by Marcus-indrek Simmer and decided to turn it into a web app. 
                A lot of credit really goes to them as this page would not exist without their work.
                <br><br>
                This service checks your Immich instance for videos that match the TikTok filename, downloads them and then uses EasyOCR to first check the end (and one random) frame to see if it contains the 'TikTok' text. If it does then it moves them to the trash for your Immich user.
                <br>
                You can check the logs for your personal pod using the 'View pod logs' button to see exactly what the tool is doing. You'll need to manually refresh these logs to update them. If you have selected for the tool to run every 24hrs, you can keep checking this log file daily to ensure it keeps running. 
                <br><br>
                I also run a kubernetes cluster that's currently heavily under utilised. When you send an api requests to my server, it spins up a new deployment and runs the project on one of the nodes, therefore not loading my primary server too much. 
                <br>
                This is mostly a hobby project so it may not exist forever. I will be providing source code for all of this in case anyone wants to host it themselves (say if you're running a large Immich server with many users).
            </p>
        <hr>
        <h2>Important links</h2>
            <ul>
                <p>Immich TikTok Remover Source Code: <a href="https://github.com/mxc2/immich-tiktok-remover">https://github.com/mxc2/immich-tiktok-remover</a>
                <br>My GitHub: <a href="https://github.com/alyssaholland99">https://github.com/alyssaholland99</a>
                <br>mxc2's GitHub: <a href="https://github.com/mxc2">https://github.com/mxc2</a></p>
            </ul>
    </div>
</body>
</html>
